[submodule "Cerveau"]
	path = Cerveau
	url = https://github.com/JacobFischer/Cerveau.git
[submodule "Joueur.py"]
	path = Joueur.py
	url = https://github.com/JacobFischer/Joueur.py
[submodule "Joueur.js"]
	path = Joueur.js
	url = https://github.com/JacobFischer/Joueur.js
[submodule "Creer"]
	path = Creer
	url = https://github.com/JacobFischer/Creer
[submodule "Joueur.lua"]
	path = Joueur.lua
	url = https://github.com/JacobFischer/Joueur.lua.git
[submodule "Joueur.cs"]
	path = Joueur.cs
	url = https://github.com/JacobFischer/Joueur.cs.git
[submodule "Joueur.java"]
	path = Joueur.java
	url = https://github.com/JacobFischer/Joueur.java.git
[submodule "Joueur.cpp"]
	path = Joueur.cpp
	url = https://github.com/JacobFischer/Joueur.cpp.git
[submodule "Dossier"]
	path = Dossier
	url = https://github.com/JacobFischer/Dossier.git
