[submodule "Cerveau"]
	path = Cerveau
	url = https://github.com/siggame/Cerveau.git
[submodule "Joueur.py"]
	path = Joueur.py
	url = https://github.com/siggame/Joueur.py
[submodule "Joueur.js"]
	path = Joueur.js
	url = https://github.com/siggame/Joueur.js
[submodule "Creer"]
	path = Creer
	url = https://github.com/siggame/Creer
[submodule "Joueur.lua"]
	path = Joueur.lua
	url = https://github.com/siggame/Joueur.lua.git
[submodule "Joueur.cs"]
	path = Joueur.cs
	url = https://github.com/siggame/Joueur.cs.git
[submodule "Joueur.java"]
	path = Joueur.java
	url = https://github.com/siggame/Joueur.java.git
[submodule "Joueur.cpp"]
	path = Joueur.cpp
	url = https://github.com/siggame/Joueur.cpp.git
[submodule "Viseur"]
	path = Viseur
	url = https://github.com/siggame/Viseur.git
[submodule "Joueur.ts"]
	path = Joueur.ts
	url = https://github.com/siggame/Joueur.ts
